<div class="modal fade" id="new-answer-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Answer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= form_for :answer, url: '/answers', html: { class: 'form-horizontal' } do %>
          <input type='hidden' name='answer[question_id]' value="<%= @question.id %>"></input>

          <div class='modal-body'>
            <div class="form-group">
              <label for="inputEmail1">Email</label>
              <input type="email" name='answer[email]' value=<%= current_user_email %> class="form-control" id="inputEmail1" placeholder="Email" required>
            </div>
            <div class="form-group">
              <label for="inputAnswer">Answer</label>
              <div >
                <textarea class='form-control' name='answer[body]' id='inputAnswer' placeholder='What is your answer' required></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        <% end %>
      </div> 
    </div>
  </div>
</div>